# Python with SQLite

* SQLite3 is a very easy to use database engine. 
 * It is self-contained, serverless, zero-configuration and transactional. 
 * It is very fast and lightweight, and the entire database is stored in a single disk file. 
 * It is used in a lot of applications as internal data storage. 
* The Python Standard Library includes a module called "sqlite3" intended for working with this database. This module is a SQL interface compliant with the DB-API 2.0 specification.

## Using Python's SQLlite Module

In [1]:
import sqlite3

## Connecting SQLite to the Database
The following creates or opens a file called mydb with a SQLite3 DB.

In [2]:
db = sqlite3.connect('data/mydb')

When done working with the DB we need to close the connection:

In [3]:
db.close()

## Creating (CREATE) and Deleting (DROP) Tables
* To operate on the database we require a cursor object and pass the SQL statments to the cursor object to execute them.
* Finally, it is neessary to commit the changes.
* We will create a `users` table with `name, phone, email and password` columns

In [12]:
cursor = db.cursor()
cursor.execute('''
               CREATE TABLE users(
               id INTEGER PRIMARY KEY, 
               name TEXT,
               phone TEXT,
               email TEXT unique,
               password TEXT)
               ''')
db.commit()

To drop a table:

In [11]:
cursor = db.cursor()
cursor.execute('''DROP TABLE users''')
db.commit()

Please note that the commit function is invoked on the db object, not the cursor object.

## Inserting (INSERT) Data into the Database
* To insert data we use the cursor to execute the query. If you need values from Python variables it is recommended to use the "?" placeholder. 
* Never use string operations or concatenation to make your queries because is very insecure. 
* In this example we are going to insert two users in the database, their information is stored in python variables.

In [13]:
cursor = db.cursor()
name1 = "Atul"
phone1 = "9338703277"
email1 = "anag@suiit.ac.in"
password1 = "12345"

name2 = "Nag"
phone2 = "7078711408"
email2 = "nag.atul@gmail.com"
password2 = "78910"

name3 = "PythonNewbie"
phone3 = "123456"
email3 = "my@mydomain.com"
password3 = "123456"

cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(?,?,?,?)''',(name1, phone1, email1, password1))
print('First user inserted')
db.commit()

First user inserted

The values of the Python variables are passed inside a tuple. Another way to do this is passing a dictionary using the `":keyname"` placeholder:

In [ ]:
cursor.execute('''INSERT INTO users(name, phone, email, password)
                  VALUES(:name,:phone, :email, :password)''',
                  {'name':name2, 'phone':phone2,'email':email2,
                   'password':password2})